# Dependencies
node_modules

# Build output
dist

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Claude
.claude/settings.local.json

# Env
.env
.env.local

# Package
*.tgz
